.leaderboard{
  max-height: 88vh;
  overflow: scroll;
  overflow-x: hidden;
}
.btn{
  cursor: pointer;
}
.list-group-item {
  display: -webkit-box;
  padding:.2rem 1rem;
}
.attack-widget input {
  width: 40px;
  text-align: center;
  position: relative;
  top: 3px;
}

.row{
  width:100%;
}
.col-4, col-8{
  padding:0;
  text-align: center;
}
.refresh {
  float: right;
  text-decoration: underline;
  font-size: 14px;
  color: #fb9f25;
  cursor: pointer;
  position: relative;
  top: 5px;
  user-select: none;
}
.refresh:hover {
  color: #ff8900;
}

.leaderboard::-webkit-scrollbar {
  width: 5px
}

.leaderboard::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,.1)
}

.leaderboard::-webkit-scrollbar-thumb {
  background-color: rgba(9, 0, 29, 0.64)
}

.leaderboard::-webkit-scrollbar-button {
  background-color: #444444
}

.leaderboard::-webkit-scrollbar-corner {
  background-color: #000
}
.attack-widget input {
  border: 1px solid #e4e4e4;
}
button .twa{
  top: 2px;
  position: relative;
}
