.leaderboard{
  max-height: 88vh;
  overflow: scroll;
  overflow-x: hidden;
}
.btn{
  cursor: pointer;
}
.list-group-item {
  display: -webkit-box;
  padding:.2rem 1rem;
}
.attack-widget input {
  width: 40px;
  text-align: center;
  position: relative;
  top: 3px;
}
.col-md-4{
  padding:0;
  text-align: center;
}
