<nav class="navbar navbar-toggleable-md bg-inverse p-0">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="http://eclectika.org/assets/img/logo.png" height="60px" alt="">
      WAR OF HOUSES</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-nav mr-0 ml-auto">
        <li class="nav-item active">
          <a class="nav-link" target="_blank" href="http://eclectika.org">Main Website</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/help">How to Play?</a>
        </li>

        <!--<li class="nav-item">-->
          <!--<a class="nav-link">Full Leaderboard</a>-->
        <!--</li>-->
      </ul>
    </div>
  </div>

</nav>
