	<br><br>
	<div class="login" *ngIf="showLoginForm">
		<h3 class="text-center">Login</h3>
		<hr>
		<div class="alert alert-danger text-center" role="alert">
		  <strong>Sorry!</strong> {{loginError}}
		</div>

		<div class="text-center">
		  <a class="btn btn-primary" href="http://eclectika.org/user">Login With Facebook</a><br><br>
		</div>			
	</div>

<div class="col-md-6 offset-sm-3">
	<form class="registration-form form-horizontal" *ngIf="showRegisterForm">
		<div class="form-group">
		    <input type="email" class="form-control text-center" id="email" name="user.email" [(ngModel)] = "user.house_name" aria-describedby="emailHelp" placeholder="Enter a Unique name for your House!">
		</div>

		<div class="text-center">
		  <button type="submit" class="btn btn-primary">Submit</button><br><br>
	      <a routerLink="/register">Not registered? Click here</a>
		</div>
	</form>
</div>
