<div class="card">
  <div class="card-block">
    <p class="text-center overall-points">Overall Points: 11133.34</p>
    <div class="row text-center battle-points">
      <div class="col-md-6">
        <p class="my-0">Attack Points: 12344.34</p>
      </div>
      <div class="col-md-6">
        <p class="my-0">Defence Points: 12344.34</p>
      </div>
    </div>
    <hr>
    <div class="row text-center battle-points">
      <div class="col-md-6">
        <p class="my-2 align-middle">Food: 12344.34 </p>
        <p class="my-2 align-middle">Gold: 12344.34 </p>
        <p class="my-2 align-middle">Wood: 12344.34 </p>
        <p class="my-2 align-middle">Turns: 12344.34 </p>
      </div>
      <div class="col-md-6 claim-buttons">
        <button class="btn btn-primary btn-sm d-block my-1 mr-0">Claim Free Food (100)</button><span class="badge badge-default">3x</span>
        <button class="btn btn-primary btn-sm d-block my-1">Claim Free Gold (100)</button><span class="badge badge-default">4x</span>
        <button class="btn btn-primary btn-sm d-block my-1">Claim Free Wood (100)</button><span class="badge badge-default">7x</span>
        <button class="btn btn-primary btn-sm d-block my-1">Claim Free Turns(100)</button><span class="badge badge-default">7x</span>
      </div>
    </div>
    <hr>
    <div class="row text-center battle-points">
      <div class="col-md-6">
        <p class="my-2 align-middle">Army: 12344.34 </p>
        <p class="my-2 align-middle">Artillery: 12344.34 </p>
        <p class="my-2 align-middle">Wall: 12344.34 </p>
        <p class="my-2 align-middle">Dragons: 12344.34 </p>
      </div>
      <div class="col-md-6 claim-buttons">
        <button class="btn btn-primary btn-sm d-block my-1 mr-0">Train Army (100)</button><span class="badge badge-default">3x</span>
        <button class="btn btn-primary btn-sm d-block my-1">Train Artillery (100)</button><span class="badge badge-default">4x</span>
        <button class="btn btn-primary btn-sm d-block my-1">Train Wall (100)</button><span class="badge badge-default">7x</span>
        <button class="btn btn-primary btn-sm d-block my-1">Train Dragon(100)</button><span class="badge badge-default">7x</span>
      </div>
    </div>
    <hr>
    <div class="row text-center battle-points">
      <div class="col-md-6">
        <p class="my-2 align-middle">Workers: 12344.34 </p>
      </div>
      <div class="col-md-6 claim-buttons">
        <button class="btn btn-primary btn-sm d-block my-1 mr-0">Create New Worker</button><span class="badge badge-default">3x</span>
      </div>
    </div>


  </div>
</div>
