.overall-points{
  padding: 5px 0;
  border-bottom: 1px solid #e4e4e4;
}

.btn{
  cursor: pointer;
}

.claim-buttons{
  text-align: center;
}

.claim-buttons .btn{
  min-width: 120px;
  display: inline-block !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: .8em;
}
.claim-buttons .btn.no-pill{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

app-countdown-timer{
  display: inline-block;
}
.text-center span{
  float: none;
  margin: 0 auto;
}

.claim-buttons .badge{
  position: relative;
  top:1px;
  padding:0.6em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.tooltip-data{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  /*border: 1px solid #292929;*/
  margin: 5px;
}

.battle-points span{
  cursor: pointer;
}

.tooltip-data span{
  /*text-decoration: underline;*/
  cursor: pointer;
}
.claim-times{
  display: flex;
}
.claim-times span{
  margin:0 auto;
  float: none;
}
.twa{
  position: relative;
  top: 3px;
  margin-right:5px;
}
@media screen and (max-width: 768px){
  .claim-buttons{
    margin-top: 10px;
  }
}
