<h4 class="text-center">Your Stats<span class="refresh float-right" (click)="updateStats()" >Refresh</span></h4>
<div class="card">
  <div class="card-block">
    <p class="text-center overall-points"><i class="twa twa-lg twa-coin"></i>Overall Points: {{user.overall_points | number}}</p>
    <div class="row text-center battle-points">
      <div class="col-md-6">
        <p class="my-0">Attack Points: {{user.attack |  number}}</p>
      </div>
      <div class="col-md-6">
        <p class="my-0">Defence Points: {{user.defence| number}}</p>
      </div>
    </div>
    <hr>
    <div class="row text-center battle-points">
        <span data-toggle="tooltip" data-html="true" title="{{CHARACTERS.food}}"><p class="my-2 align-middle tooltip-data"><i class="twa twa-lg twa-poultry-leg"></i>Food: {{user.food | number}} </p></span>
        <span data-toggle="tooltip" data-html="true" title="{{CHARACTERS.gold}}"><p class="my-2 align-middle tooltip-data"> <i class="twa twa-lg twa-moneybag"></i>Gold: {{user.gold | number}} </p></span>
        <span data-toggle="tooltip" data-html="true" title="{{CHARACTERS.wood}}"><p class="my-2 align-middle tooltip-data"><i class="twa twa-lg twa-deciduous-tree"></i>Wood: {{user.wood | number}} </p></span>
        <span data-toggle="tooltip" data-html="true" title="{{CHARACTERS.turns}}"><p class="my-2 align-middle tooltip-data"><i class="twa twa-lg twa-arrows-counterclockwise"></i>Turns: {{user.turns | number}} </p></span>
    </div>
  <hr>
  <div class="row">
    <div class="col-md-3 claim-buttons">
      <button class="btn btn-primary btn-sm d-block my-0 mr-0" (click)="claim(1)">Claim Food (100)</button><span class="badge badge-default">x{{user.food_x}}</span>
      <span><app-countdown-timer [time]="next_food_refresh"></app-countdown-timer></span>
    </div>
    <div class="col-md-3 claim-buttons">
      <button class="btn btn-primary btn-sm d-block my-0" (click)="claim(2)">Claim Gold (100)</button><span class="badge badge-default">x{{user.gold_x}}</span>
      <span><app-countdown-timer [time]="next_gold_refresh"></app-countdown-timer></span>
    </div>
    <div class="col-md-3 claim-buttons">
        <button class="btn btn-primary btn-sm d-block my-0" (click)="claim(3)">Claim Wood (100)</button><span class="badge badge-default">x{{user.wood_x}}</span>
      <span><app-countdown-timer [time]="next_wood_refresh"></app-countdown-timer></span>
    </div>
    <div class="col-md-3 claim-buttons">
      <button class="btn btn-primary btn-sm d-block my-0 no-pill" (click)="claim(4)">Claim Turns(100)</button>
      <span><app-countdown-timer [time]="next_turn_refresh"></app-countdown-timer></span>
    </div>
    <div class="col-md-12 claim-times">
      </div>
  </div>
  <hr>
  <div class="row text-center battle-points">
      <div class="col-md-6">
        <span data-toggle="tooltip" data-html="true" title="{{CHARACTERS.army}}"><p class="my-2 align-middle tooltip-data"><i class="twa twa-lg twa-bust-in-silhouette"></i>Army: {{user.army | number}}</p></span>
        <span data-toggle="tooltip" data-html="true" title="{{CHARACTERS.giant}}"><p class="my-2 align-middle tooltip-data"><i class="twa twa-lg twa-imp"></i>Giants: {{user.giants | number}} </p></span>
        <span data-toggle="tooltip" data-html="true" title="{{CHARACTERS.wall}}"><p class="my-2 align-middle tooltip-data"><i class="twa twa-lg twa-wall"></i>Wall: {{user.wall | number}} </p></span>
        <span data-toggle="tooltip" data-html="true" title="{{CHARACTERS.dragon}}"><p class="my-2 align-middle tooltip-data"><i class="twa twa-lg twa-dragon-face"></i>Dragons: {{user.dragons | number}} </p></span>
      </div>
      <div class="col-md-6 claim-buttons">
        <button class="btn btn-primary btn-sm d-block my-1 mr-0 no-pill" (click)="train(1)">Train Army</button>
        <button class="btn btn-primary btn-sm d-block my-1 no-pill" (click)="train(2)">Train Giant</button>
        <button class="btn btn-primary btn-sm d-block my-1 no-pill" (click)="train(3)">Train Wall</button>
        <button class="btn btn-primary btn-sm d-block my-1 no-pill" (click)="train(4)">Train Dragon</button>
      </div>
    </div>
    <hr>
    <div class="row text-center battle-points">
      <div class="col-md-6">
        <p class="my-2 align-middle tooltip-data"> <i class="twa twa-lg twa-guardsman"></i><span data-toggle="tooltip" data-html="true" title="{{CHARACTERS.worker}}">Worker</span>: {{ user.workers }}</p>
      </div>
      <div class="col-md-6 claim-buttons">
        <button class="btn btn-primary btn-sm d-block my-1 mr-0 no-pill" (click)="createWorker()">Create New Worker</button>
        <span><app-countdown-timer [time]="next_worker_refresh"></app-countdown-timer></span>
      </div>
    </div>
    <hr>
    <div class="row text-center battle-points">
      <div class="col-md-4">
        <div class="worker-widget">
          <!--<button class="btn btn-primary btn-sm my-1 mr-0" (click)="decreaseWorker(1)">-</button>-->
          <p class="d-inline-block">{{user.food_x}}</p>
          <button class="btn btn-primary btn-sm my-1 mr-0" (click)="increaseWorker(1)"> Add Worker</button>
        </div>
        <p>Food Workers</p>
      </div>

      <div class="col-md-4">
        <div class="worker-widget">
          <!--<button class="btn btn-primary btn-sm my-1 mr-0" (click)="decreaseWorker(3)">-</button>-->
          <p class="d-inline-block">{{user.wood_x}}</p>
          <button class="btn btn-primary btn-sm my-1 mr-0" (click)="increaseWorker(3)">Add Worker</button>
        </div>
        <p>Wood Workers</p>
      </div>

      <div class="col-md-4">
        <div class="worker-widget">
          <!--<button class="btn btn-primary btn-sm my-1 mr-0" (click)="decreaseWorker(2)">-</button>-->
          <p class="d-inline-block">{{user.gold_x}}</p>
          <button class="btn btn-primary btn-sm my-1 mr-0" (click)="increaseWorker(2)">Add Worker</button>
        </div>
        <p>Gold Workers</p>
      </div>
    </div>
  </div>
</div>
