<h4 class="text-center">Your Stats</h4>
<div class="card">
  <div class="card-block">
    <p class="text-center overall-points">Overall Points: {{user.overall_points}}</p>
    <div class="row text-center battle-points">
      <div class="col-md-6">
        <p class="my-0">Attack Points: {{user.attack}}</p>
      </div>
      <div class="col-md-6">
        <p class="my-0">Defence Points: {{user.defence}}</p>
      </div>
    </div>
    <hr>
    <div class="row text-center battle-points">
      <div class="col-md-6">
        <p class="my-2 align-middle"><i class="twa twa-lg twa-poultry-leg"></i>Food : {{user.food}} </p>
        <p class="my-2 align-middle"> <i class="twa twa-lg twa-dizzy"></i>Gold: {{user.gold}} </p>
        <p class="my-2 align-middle"><i class="twa twa-lg twa-deciduous-tree"></i>Wood : {{user.wood}} </p>
        <p class="my-2 align-middle">Turns: {{user.turns}} </p>
      </div>
      <div class="col-md-6 claim-buttons">
        <button class="btn btn-primary btn-sm d-block my-1 mr-0" (click)="claim(1)">Claim Free Food (100)</button><span class="badge badge-default">x{{user.food_x}}</span>
        <button class="btn btn-primary btn-sm d-block my-1" (click)="claim(2)">Claim Free Gold (100)</button><span class="badge badge-default">x{{user.gold_x}}</span>
        <button class="btn btn-primary btn-sm d-block my-1" (click)="claim(3)">Claim Free Wood (100)</button><span class="badge badge-default">x{{user.wood_x}}</span>
        <button class="btn btn-primary btn-sm d-block my-1" (click)="claim(4)">Claim Free Turns(100)</button><span class="badge badge-default">1x</span>
      </div>
    </div>
    <hr>
    <div class="row text-center battle-points">
      <div class="col-md-6">
        <p class="my-2 align-middle">Army: {{user.army}}</p>
        <p class="my-2 align-middle">Giant: {{user.giants}} </p>
        <p class="my-2 align-middle">Wall: {{user.wall}} </p>
        <p class="my-2 align-middle">Dragons: {{user.dragons}} </p>
      </div>
      <div class="col-md-6 claim-buttons">
        <button class="btn btn-primary btn-sm d-block my-1 mr-0" (click)="train(1)">Train Army (100)</button><span class="badge badge-default">3x</span>
        <button class="btn btn-primary btn-sm d-block my-1" (click)="train(2)">Train Giant (100)</button><span class="badge badge-default">4x</span>
        <button class="btn btn-primary btn-sm d-block my-1" (click)="train(3)">Train Wall (100)</button><span class="badge badge-default">7x</span>
        <button class="btn btn-primary btn-sm d-block my-1" (click)="train(4)">Train Dragon(100)</button><span class="badge badge-default">7x</span>
      </div>
    </div>
    <hr>
    <div class="row text-center battle-points">
      <div class="col-md-6">
        <p class="my-2 align-middle"> <i class="twa twa-lg twa-construction-worker"></i>Workers: {{ user.workers }}</p>
      </div>
      <div class="col-md-6 claim-buttons">
        <button class="btn btn-primary btn-sm d-block my-1 mr-0" (click)="createWorker()">Create New Worker</button><span class="badge badge-default">3x</span>
      </div>
    </div>
    <hr>
    <div class="row text-center battle-points">
      <div class="col-md-4">
        <div class="worker-widget">
          <button class="btn btn-primary btn-sm my-1 mr-0" (click)="decreaseWorker(1)">-</button>
          <p class="d-inline-block">{{user.food_x}}</p>
          <button class="btn btn-primary btn-sm my-1 mr-0" (click)="increaseWorker(1)">+</button>
        </div>
        <p>Food Workers</p>
      </div>

      <div class="col-md-4">
        <div class="worker-widget">
          <button class="btn btn-primary btn-sm my-1 mr-0" (click)="decreaseWorker(2)">-</button>
          <p class="d-inline-block">{{user.gold_x}}</p>
          <button class="btn btn-primary btn-sm my-1 mr-0" (click)="increaseWorker(2)">+</button>
        </div>
        <p>Gold Workers</p>
      </div>

      <div class="col-md-4">
        <div class="worker-widget">
          <button class="btn btn-primary btn-sm my-1 mr-0" (click)="decreaseWorker(3)">-</button>
          <p class="d-inline-block">{{user.wood_x}}</p>
          <button class="btn btn-primary btn-sm my-1 mr-0" (click)="increaseWorker(3)">+</button>
        </div>
        <p>Wood Workers</p>
      </div>

    </div>




  </div>
</div>
