<h4 class="text-center">About You</h4>
<div class="card">
  <img class="card-img-top img-thumbnail" [src]="'http://graph.facebook.com/v2.8/'+user.fb_id+'/picture?height=200'" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title text-center">{{user.house_name}}</h4>
  </div>
  <ul class="list-group list-group-flush text-center">
    <li class="list-group-item"><b>{{user.name}}</b></li>
    <li class="list-group-item"><b>EC ID:  </b> {{user.ec_id}}</li>
    <li class="list-group-item">{{user.college}}</li>
  </ul>
</div>
